/* ### Headings, Call-to-actions, Header Navigation [Raleway]*/
/* 400 */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* 700 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
/* ### Body 400 [Open Sans] */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    /* color: #333; */
}

footer {
    background-color: #07043b;
}

img {
    max-width: 100%;
}

.max-h-50 {
    max-height: 50px;
}

.newsletter {
    background-color: #575989;
}

.footer-logo {
    filter: invert(50%) brightness(180%) contrast(180%) ;
}


.footer-round-logo {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    height: 31px;
}
/* ## Layout

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)

### Accent

- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)

### Neutral

- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%)

## Typography

### Headings, Call-to-actions, Header Navigation

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700 */
